<!doctype html>
<html lang="en" ng-app='storeFront'>
  <head>
    <meta charset="utf-8">
    <title>StoreFront</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="scripts/app.js"></script>
  </head>

  <body>
    <h1>My Store</h1>
    <div ng-controller='StoreController as storeCtrl'>
      <div ng-controller='CartController as cartCtrl'>
        <input type='button' id='shopping-cart' value='Cart' ng-click='storeCtrl.showCart()'></input>
        <div ng-show='storeCtrl.show'>
          <div>
            <p>My Shopping Cart</p>
            <ul>
              <li ng-repeat='item in cartCtrl.shoppingCart track by $index'>{{item.name}} {{item.price | currency:'£'}}
                <button class='rmv-btn' ng-click='cartCtrl.removeFromCart(item.name)'>Remove</button>
              </li>
            </ul>
            <div id='cart-total'>{{cartCtrl.cartTotal | currency:'£'}}</div>
          </div>
        </div>
        <ul ng-repeat='product in storeCtrl.allProducts'>
          <li>{{product.name}}</li>
          <li>{{product.price | currency:'£'}}</li>
          <li><button class='add-btn' ng-click='cartCtrl.addToCart(product)'>Add To Cart</button></li>
        </ul>
      </div>
    </div>
  </body>
</html>
