h2 {
  margin-left: 40px;
  font-family: 'Lobster', cursive;
}

input {
  outline: none;
}

.btn:focus {
  outline: 0;
}

.navbar-brand {
  font-size: 25px;
}

.cart-qty {
  margin-top: 20px;
  margin-right: -13px;
  float: right;
}

.cart-btn {
  width: 50px;
  margin-top: 27px;
  float: right;
  background-image: url('../images/bag.png');
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.shopping-bag {
  text-align: left;
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.bag-header {
  font-family: 'Lobster', cursive;
  font-size: 17px;
  padding-bottom: 18px;
}

.rmv-btn {
  float: right;
  font-family: 'Raleway', sans-serif;
}

.add-btn {
  font-family: 'Raleway', sans-serif;
}

.voucher-btn {
  font-family: 'Raleway', sans-serif;
}

#cart-total {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Lobster', cursive;
}

.voucher-form {
  padding-bottom: 30px;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
  max-width: 450px;
}

li {
  font-size: 13px;
  padding-bottom: 10px;
  padding-top: 10px;
}

li.bag-item {
  font-family: 'Raleway', sans-serif;
}

li.prdt-name {
  font-family: 'Raleway', sans-serif;
}

li.prdt-price {
  font-family: 'Lobster', cursive;
}

.item-container {
  width: 950px;
  margin: 0 auto;
}

.clothing-item {
  width: 300px;
  height: 550px;
}

.prdt-img {
  width: 250px;
}

.outofstock {
  font-weight: bold;
}
